{% extends "base.html.twig" %}

{% block title %}Soonr - Artist{% endblock %}

{% block body %}
    <div class="container margtop">
        <h1 class="center greatvibes gold padtop padbot borrad">Les Artistes</h1>

        <div class="row">
            <div class="col s12 black borrad">
                <ul id="tabs-swipe-demo" class="tabs black">
                    <li class="tab col s6"><a class="gold" href="#test1">Chanteurs</a></li>
                    <li class="tab col s6"><a class="gold" class="active" href="#test2">Danseurs</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12"><section class="row">
                    <div class="row">
                        <div class="col s12 m6 l4">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img src="http://www.youthvillage.co.za/wp-content/uploads/2015/06/Music1.jpg">
                                    <span class="card-title greatvibes gold">Chanteurs 1</span>
                                    <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img src="http://www.youthvillage.co.za/wp-content/uploads/2015/06/Music1.jpg">
                                    <span class="card-title greatvibes gold">Chanteurs 2</span>
                                    <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img src="http://www.youthvillage.co.za/wp-content/uploads/2015/06/Music1.jpg">
                                    <span class="card-title greatvibes gold">Chanteurs 3</span>
                                    <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img src="http://www.youthvillage.co.za/wp-content/uploads/2015/06/Music1.jpg">
                                    <span class="card-title greatvibes gold">Chanteurs 4</span>
                                    <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div id="test2" class="col s12"><section class="row">
                    <div class="row">
                        <div class="col s12 m6 l4">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img src="https://i0.wp.com/www.centroelhorno.com/wp-content/uploads/2015/01/modern-jazz2.jpg?resize=600%2C600">
                                    <span class="card-title greatvibes gold">Danceurs 1</span>
                                    <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img src="https://i0.wp.com/www.centroelhorno.com/wp-content/uploads/2015/01/modern-jazz2.jpg?resize=600%2C600">
                                    <span class="card-title greatvibes gold">Danceurs 2</span>
                                    <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img src="https://i0.wp.com/www.centroelhorno.com/wp-content/uploads/2015/01/modern-jazz2.jpg?resize=600%2C600">
                                    <span class="card-title greatvibes gold">Danceurs 3</span>
                                    <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img src="https://i0.wp.com/www.centroelhorno.com/wp-content/uploads/2015/01/modern-jazz2.jpg?resize=600%2C600">
                                    <span class="card-title greatvibes gold">Danceurs 4</span>
                                    <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                                </div>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>


    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('.tabs').tabs();
        });
    </script>
{% endblock %}