{% extends "base.html.twig" %}

{% block title %}Soonr - Accueil{% endblock %}

{% block body %}
    <section class="affichef hoverable">
        <div class="carousel carousel-slider" data-indicators="true">
            <!-- <div class="carousel-item red-crsl lighten-2 white-text" href="#one!">
                <div class="container accueil">
                    <h2 class="left gold">Bienvenue</h2>
                    <p class="left white-text">Le meilleurs salon barber de Paris!</p>
                </div>
            </div> -->
            <div class="carousel-item amber-crsl darken-2 white-text" href="#two!">
                <div class="container accueil">
                    <h2 class="left gold borrad">Bienvenue !</h2>
                    <img src="http://www.youthvillage.co.za/wp-content/uploads/2015/06/Music1.jpg">
                    <p class="left white-text borrad">Le meilleurs salon barber de Paris !<br> Réserve ton créneau, choisi ta coupe et ton coiffeur!</p>
                </div>
            </div>
            <div class="carousel-item green-crsl  white-text" href="#three!">
                <div class="container accueil">
                    <h2 class="left gold borrad">Produits de qualités</h2>
                    <img src="https://i0.wp.com/www.centroelhorno.com/wp-content/uploads/2015/01/modern-jazz2.jpg?resize=600%2C600">
                    <p class="left white-text borrad">Nous utilisons des produits de qualités pour vos cheveux.</p>
                </div>
            </div>
            <div class="carousel-item blue-crsl white-text" href="#four!">
                <div class="container accueil">
                    <h2 class="left gold borrad">Outils du Barber</h2>
                    <img src="http://www.youthvillage.co.za/wp-content/uploads/2015/06/Music1.jpg">
                    <p class="left white-text borrad">Nous faisons du bon travail grâce à notre talen mais aussi grâce à nos outils.</p>
                </div>
            </div>
        </div>
    </section>
   <!--  <div class="affichef">
        <div class="container accueil">
            <h1 class="left gold">Bienvenue</h1>
            <p class="left white-text">Le meilleur Barber de Paris</p>
        </div>
    </div> -->
    <header class="white z-depth-3 padtop padbot">
        <div class="container row">
            <section class="col l4 center">
                <p class="oxigen">Réserver votre jour et votre heure</p>
                <i class="medium gold material-icons">insert_invitation</i>
            </section>
            <section class="col l4 center">
                <p class="oxigen">Recever une confirmation !</p>
                <i class="medium gold material-icons">event_available</i>
            </section>
            <section class="col l4 center">
                <p class="oxigen">Recever votre prestation</p>
                <i class="medium gold material-icons">check_circle</i>
            </section>
        </div>
    </header>
    <section class="white center padtop padbot">
        <div class="container">
            <h2 class="greatvibes gold">Nos chanteurs</h2>
            <p class="oxygen">Découvrer les chanteurs qui nous on rejoind !</p>
            <div class="row">
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="http://www.youthvillage.co.za/wp-content/uploads/2015/06/Music1.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="http://www.youthvillage.co.za/wp-content/uploads/2015/06/Music1.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="http://www.youthvillage.co.za/wp-content/uploads/2015/06/Music1.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="http://www.youthvillage.co.za/wp-content/uploads/2015/06/Music1.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="white center padtop padbot">
        <div class="container">
            <h2 class="greatvibes gold">Nos artiste</h2>
            <p class="oxygen">Découvrer les derniers artiste qui nous ont rejoind !</p>
            <div class="row">
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://i0.wp.com/www.centroelhorno.com/wp-content/uploads/2015/01/modern-jazz2.jpg?resize=600%2C600">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://i0.wp.com/www.centroelhorno.com/wp-content/uploads/2015/01/modern-jazz2.jpg?resize=600%2C600">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://i0.wp.com/www.centroelhorno.com/wp-content/uploads/2015/01/modern-jazz2.jpg?resize=600%2C600">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://i0.wp.com/www.centroelhorno.com/wp-content/uploads/2015/01/modern-jazz2.jpg?resize=600%2C600">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script>
        $('.carousel').carousel(
            {
                dist: 0,
                padding: 0,
                fullWidth: true,
                indicators: true,
                duration: 100,
            }
        );


        autoplay();
        function autoplay() {
            $('.carousel').carousel('next');
            setTimeout(autoplay, 4500);
        }
    </script>

{% endblock %}